# dependencies
node_modules

# build output
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# large puzzle datasets
*.csv
*.json
two_bishop_mate/
two_rooks_mate/
theme_exports/

# stockfish binaries (too large for GitHub)
public/stockfish/stockfish.wasm
stockfish-windows-x86-64-avx2/
*.exe
*.wasm

# misc
*.log