# dependencies
node_modules
.pnp
.pnp.js

# production
dist
build

# misc
.DS_Store
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Python (your scripts)
__pycache__/
*.pyc

# temp files
*.tsv
*.txt

# DO NOT IGNORE THESE:
!package.json
!package-lock.json